<!DOCTYPE html>
<html>

<head>
  <title><%= title %> Dashboard</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
  <link href="/css/google-font-Roboto.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/nahtube.css">

  <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 200;
      padding: 0;
    }

    .channels-list {
        background-color: #fbfbfb;
        padding: 5px;
        min-width: 270px;
        margin-left: 12px;
    }

    .list-title {
        font-weight: bold;
        padding: 4px;
    }

  </style>
  <script>
    function getChannelsForUser(userLoggedIn) {
        $("#channels-allowed-list").empty();

        console.log('Populating for ' + userLoggedIn);

        // AJAX call to populate the Allowed Channels div above
        $.get( "/channels/" + userLoggedIn, function( data ) {
            $( ".result" ).html( data );
            $.each(data, function(index, entry) {
                option = '<div>' + 
                    ((index+1) + ': <a href="/youtube/videos/' + entry.channel_id + '">' + 
                    '<img src="' + entry.channel_data.snippet.thumbnails.default.url + '" align="middle" width="66" height="66"> ' +
                    entry.channel_name + '</a> </div>');
                $("#channels-allowed-list").append(option);
            });
        });
    }
  </script>
</head>

<body>

    <%if (loggedinuser) { %>

        <% include topbar.ejs %>
        
        <input id="loggedinuser" type="hidden" value="<%= user.username %>"> <!-- UGH! -->

        <script>
            getChannelsForUser($('#loggedinuser').val()); // SO MUCH UGH!
        </script>

        <div id="content-container" class="row">
            <div id="channels-allowed-container" class="col-3 channels-list">
                <div class="list-title"><%= user.common_name %>'s Channels:</div>
                <div id="channels-allowed-list"></div>
            </div>

            <div id="search-results" class="col">
            </div>
        </div>
    <% } else{ %>
       <form method="POST" action="/login">
           <div id="mock-user-select">
               <select id="user-mock" name="username"></select>
               <button id="login">Login</button>
           </div>
       </form>
    <% } %>

    

    <!-- Populate the fields and divs above -->
    <script>
        // AJAX call to populate the user-mock field above
        $.get( "/users/role/child", function( data ) {
            $( ".result" ).html( data );
    
            $.each(JSON.parse(data), function(index, entry) {
                option = $('<option value="' + entry.username + '">' + entry.common_name + '</option>');
                $("#user-mock").append(option);
            });
        });

    </script>
  
</body>

</html>