<!DOCTYPE html>
<html>

<head>
  <title><%= title %> Dashboard</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/nahtube.css">

  <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 200;
      padding: 0;
    }

    #search-section {
        width: 95%;
        height: 30px;
        padding: 0px;
    }
    #search-action {
        width: 270px;
        float: left;
    }
    #search-results {
        margin-left: 275px;
        width: auto;
    }
  </style>
  <script>
    function getChannelsForUser(userLoggedIn) {
        $("#channels-allowed-list").empty();

        console.log('Populating for ' + userLoggedIn);

        // AJAX call to populate the Allowed Channels div above
        $.get( "/channels/" + userLoggedIn, function( data ) {
            $( ".result" ).html( data );
            $.each(data, function(index, entry) {
                option = '<div>' + 
                    ((index+1) + ': <a href="/youtube/videos/' + entry.channel_id + '">' + 
                    '<img src="' + entry.channel_data.snippet.thumbnails.default.url + '" align="middle" width="66" height="66"> ' +
                    entry.channel_name + '</a> </div>');
                $("#channels-allowed-list").append(option);
            });
        });
    }
  </script>
</head>

<body>
    <h1><%= title %> Dashboard</h1>

    <%if (loggedinuser) { %>
        <h3>Welcome, <%= user.common_name %>!</h3>
        <input id="loggedinuser" type="hidden" value="<%= user.username %>"> <!-- UGH! -->

        <script>
            getChannelsForUser($('#loggedinuser').val()); // SO MUCH UGH!
        </script>

        <hr>

        <section id="search-section">
            <div id="search-action">
                <input id="search-text"></input>
            </div>
            <div id="search-results">
            </div>
        </section>

        <div id="channels-allowed-container">
            <h2>Channels Allowed:</h2>
            <div id="channels-allowed-list"></div>
        </div>
    <% } else{ %>
       <form method="POST" action="/login">
           <div id="mock-user-select">
               <select id="user-mock" name="username"></select>
               <button id="login">Login</button>
           </div>
       </form>
    <% } %>

    <!-- Enable the search above -->
    <script type="text/javascript">
    function constructVideoResult(i, item) {
        console.log('Build out a proper div for #' + (i+1) + ': ' + item.snippet.title);
    };

    $('#search-text').on('keypress',function (e) {
        if (e.keyCode == 13) {
            console.log('Going to search with "%s".', this.value);
            $('#search-text').addClass('buttonSearch');
            $('#search-results').text('Searching...');

            $.ajax({
                type: "POST",
                url: "/youtube/search",
                data: {"searchstring": this.value},
                success: function (data) {
                    console.log(data);

                    $('#search-results').empty();

                    $.each(data.items, function (i, item) {
                        console.log(i + ': ' + item.snippet.title);

                        $('#search-results').append(
                            //'<img src="' + item.snippet.thumbnails.default.url + '"><br>' +
                            //'<img src="' + item.snippet.thumbnails.high.url + '"><br>' +
                            '<img src="' + item.snippet.thumbnails.medium.url + '"><br>' +
                            (i+1) + '. ' + item.snippet.title + '<br>\n'
                        );
                    });

                    // the jQuery definition determines these, and the params of the callback
                    // http://api.jquery.com/jquery.each/
                    //$.each(data.items, constructVideoResult);
                }
            });

        }
    });
    </script>

    <!-- Populate the fields and divs above -->
    <script>
        // AJAX call to populate the user-mock field above
        $.get( "/users/role/child", function( data ) {
            $( ".result" ).html( data );
    
            $.each(JSON.parse(data), function(index, entry) {
                option = $('<option value="' + entry.username + '">' + entry.common_name + '</option>');
                $("#user-mock").append(option);
            });
        });

    </script>
  
</body>

</html>