<!DOCTYPE html>
<html>

<head>
  <title><%= title %> Dashboard</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 200;
      padding: 0;
    }
  </style>
</head>

<body>
    <h1><%= title %> Dashboard</h1>

    <div id="mock-user-select">
        <select id="user-mock"></select>
    </div>

    <div id="channels-allowed"></div>

    <!-- Populate the fields and divs above -->
    <script>
        // AJAX call to populate the Person field above
        $.get( "/users", function( data ) {
            $( ".result" ).html( data );
    
            $.each(JSON.parse(data), function(index, entry) {
                option = $('<option value="' + entry.id + '">' + entry.common_name + ' - ' + entry.username + '</option>');
                $("#user-mock").append(option);
            });
        });
    </script>
  
</body>

</html>