<!DOCTYPE html>
<html>

<head>
  <title><%= title %> Dashboard</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 200;
      padding: 0;
    }

    #search-section {
        width: 95%;
        height: 30px;
        /* background: aqua; */
        padding: 0px;
    }
    #search-action {
        width: 270px;
        /* background: red; */
        float: left;
    }
    #search-results {
        margin-left: 275px;
        width: auto;
        /* background: pink; */
    }
  </style>
</head>

<body>
    <h1><%= title %> Dashboard</h1>

    <div id="mock-user-select">
        <select id="user-mock"></select>
    </div>

    <hr>

    <section id="search-section">
        <div id="search-action">
            <input id="search-text"></input>
        </div>
        <div id="search-results">
            Results will display here...
        </div>
    </section>

    <!-- Enable the search above -->
    <script type="text/javascript">
    $("#search-text").on('keypress',function (e) {
        if (e.keyCode == 13) {
            console.log('Going to search with "%s".', this.value);
            $("#search-text").addClass("buttonSearch");
            $("#search-results").text("Searching...");

            $.ajax({
                type: "POST",
                url: "/youtube/search",
                data: {"searchstring": this.value},
                success: function (data) {
                    console.log('Populate the results pane with these:');
                    console.log(data);
                }
            });

        }
    });
    </script>

    <div id="channels-allowed-container">
        <h2>Channels Allowed:</h2>
        <div id="channels-allowed-list"></div>
    </div>

    <!-- Populate the fields and divs above -->
    <script>
        // AJAX call to populate the user-mock field above
        $.get( "/users/role/child", function( data ) {
            $( ".result" ).html( data );
    
            $.each(JSON.parse(data), function(index, entry) {
                option = $('<option value="' + entry.username + '">' + entry.common_name + '</option>');
                $("#user-mock").append(option);
            });

            getChannelsForUser($('#user-mock').val());
        });

        // refresh on field changes
        $("#user-mock").change( function () {
            getChannelsForUser(this.value);
            });

        function getChannelsForUser(userLoggedIn) {
            $("#channels-allowed-list").empty();

            console.log('Populating for ' + userLoggedIn);

            // AJAX call to populate the Allowed Channels div above
            $.get( "/channels/" + userLoggedIn, function( data ) {
                $( ".result" ).html( data );
                $.each(JSON.parse(data), function(index, entry) {
                    option = ((index+1) + ': <a href="https://youtube.com/channel/' + entry.channel_id + '">' + entry.channel_name + '</a> <br>');
                    $("#channels-allowed-list").append(option);
                });
            });
        }
    </script>
  
</body>

</html>