<!DOCTYPE html>
<html>

<head>
  <title><%= title %> Dashboard</title>

  <script src="/js/jquery-3.2.1.min.js"></script>

  <!-- bootstrap 3.3 (custom, full) -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap33/bootstrap.min.css">
  <script src="/js/bootstrap33/bootstrap.min.js"></script>

  <link href="/css/google-font-Roboto.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/nahtube.css">

  <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 200;
      padding: 0;
    }

    .channels-list {
        background-color: #fbfbfb;
        padding: 5px;
        min-width: 70px;
        width: 160px;
        margin-left: 20px;
        float: left;
    }

    .channel-tile {
        margin: 10px;
        background-color: #fce8e8;
    }

    .channel-tile:hover {
        background-color: #bde1ec;
    }

    .list-title {
        font-size: 18px;
        font-weight: bold;
        padding: 1px;
    }
    
    .dummy {
        margin-top: 0%;
    }
    
    .thumbnail {
        bottom: 0;
        margin-bottom: 4px;
        left: 15px;
        right: 0;
        text-align:center;
        padding-top:calc(5%);
    }

  </style>
  <script>
    function getChannelsForUser(userLoggedIn) {
        $("#channels-allowed-list").empty();

        console.log('Populating for ' + userLoggedIn);

        // AJAX call to populate the Allowed Channels div above
        $.get( "/channels/" + userLoggedIn, function( data ) {
            $( ".result" ).html( data );
            $.each(data, function(index, entry) {
                option = 
                //'<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">' + 
                '<div>' +
                    '<div class="dummy"><a href="/youtube/videos/' + entry.channel_id + '">' + 
                    '<div class="thumbnail">' +
                    //'   <img src="' + entry.channel_data.snippet.thumbnails.medium.url + '" align="middle" width="140" height="140"> ' +
                    '   <img src="' + entry.channel_data.snippet.thumbnails.default.url + '" align="middle" width="88" height="88"> ' +
                        entry.channel_name + 
                '   </div></a></div>' +
                '</div>';
                $("#channels-allowed-list").append(option);
            });
        });
    }
  </script>
</head>

<body>

    <%if (loggedinuser) { %>

        <% include topbar.ejs %>
        
        <input id="loggedinuser" type="hidden" value="<%= user.username %>"> <!-- UGH! -->

        <script>
            getChannelsForUser($('#loggedinuser').val()); // SO MUCH UGH!
        </script>

        <div id="content-container">
            <div id="channels-allowed-container" class="channels-list">
                <div class="list-title"><%= user.common_name %>'s Channels:</div>
                <div id="channels-allowed-list">

                </div>
            </div>

            <div id="search-results" class="col">
            </div>
        </div>
    <% } else{ %>
       <form method="POST" action="/login">
           <div id="mock-user-select">
               <select id="user-mock" name="username"></select>
               <button id="login">Login</button>
           </div>
       </form>
    <% } %>

    

    <!-- Populate the fields and divs above -->
    <script>
        // AJAX call to populate the user-mock field above
        $.get( "/users/role/child", function( data ) {
            $( ".result" ).html( data );
    
            $.each(JSON.parse(data), function(index, entry) {
                option = $('<option value="' + entry.username + '">' + entry.common_name + '</option>');
                $("#user-mock").append(option);
            });
        });

    </script>
  
</body>

</html>