<!DOCTYPE html>
<html>

<head>
  <title><%= title %>: Dashboard</title>

  <script src="/js/jquery-3.2.1.min.js"></script>

  <!-- bootstrap 3.3 (custom, full) -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap33/bootstrap.min.css">
  <script src="/js/bootstrap33/bootstrap.min.js"></script>

  <link href="/css/google-font-Roboto.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/nahtube.css">

  <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
    }

    .channels-list {
        background-color: #fbfbfb;
        padding: 5px;
        min-width: 70px;
        width: 160px;
        margin-left: 20px;
        float: left;
    }

    .channel-tile {
        margin: 10px;
        background-color: #fce8e8;
    }

    .channel-tile:hover {
        background-color: #bde1ec;
    }

    .list-title {
        font-size: 18px;
        font-weight: bold;
        padding: 1px;
    }
    
    .dummy {
        margin-top: 0%;
    }
    
    .thumbnail {
        bottom: 0;
        margin-bottom: 4px;
        left: 15px;
        right: 0;
        text-align:center;
        padding-top:calc(5%); 
    }

    .sort-buttons-container {
        float: left;
        margin-top: 7px;
        margin-left: 10px;
    }

    .sort-button {
        font-size: 10px;
        color: #d1d1d1;
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #messages-container {
        min-width: 360px;
        width: 430px;
        display: block;
        float: right;
    }
    
    .message {
        margin-bottom: 4px;
    }
    
    .message-subject {
        font-size: 16px;
        font-weight: bold;
    }
    
    .message-thumbnail {
        text-align: left;
    }
    
    .message-video-container {
        margin-top: 50px;
    }

    .message-video-thumbnail {
        text-align: center;
    }

    .messages-nav-link {
        text-align: right;
    }

    .caption {
        margin-top: 1px;
    }

    .avatar-message {
        margin: 4px;
        float: left;
    }

  </style>
  <script>
    function assembleQueryString(videoId, channelId) {
        var qstr = '?v=' + videoId;
        qstr += (channelId ? '&c=' + channelId : '' );
        return qstr;
    }

    function getChannelsForUser(userLoggedIn) {
        $("#channels-allowed-list").empty();

        // AJAX call to populate the Allowed Channels div above
        $.get( "/channels/" + userLoggedIn, function( data ) {
            $( ".result" ).html( data );
            $.each(data, function(index, entry) {
                channel = 
                // '<div>' + entry.sort + ' / ' + entry.id + '</div>' + // sort debugging - abandoning this for now 
                //'<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">' + 
                //'<div id="' + entry.channel_id + '" class="col-lg-5 col-md-6 col-sm-12 col-xs-12">' + // this will enable tiling of channel thumbnails
                '<div id="' + entry.channel_id + '">' +
                        // '<div class="sort-buttons-container">' +
                        //     '<div class="sort-button glyphicon glyphicon-menu-up" id="' + entry.channel_id + '-sort-up">></div>' +
                        //     '<div class="sort-button glyphicon glyphicon-menu-down" id="' + entry.channel_id + '-sort-dn"></div>' +
                        // '</div>' +
                    '<div class="dummy"><a href="/youtube/videos/' + entry.channel_id + '">' + 
                    '<div class="thumbnail">' +
                    '   <img src="' + entry.channel_data.snippet.thumbnails.default.url + '" align="middle" width="88" height="88"> ' +
                        entry.channel_name + 
                '   </div></a></div>' +
                '</div>';
                $("#channels-allowed-list").append(channel);

                //$('#' + entry.channel_id + '-sort-dn').click( getNextSortId(entry.channel_id, data) );
                //$('#' + entry.channel_id + '-sort-dn').bind("click", getNextSortId(entry.channel_id, data) );

                // Yeah, let's not do this with jQuery
                // $(document).on(
                //     'click',
                //     '#' + entry.channel_id + '-sort-dn',
                //     getNextSortId
                // );

            });
        });
    }

    function getMessagesForUser(userLoggedIn, daysAgo) {
        $("#messages-container").empty();

        $("#messages-container").append('<div class="messages-nav-link"><strong><a href="/messages">All Messages</a></strong></div>');

       // console.log('Fetching messages for ' + userLoggedIn);

        // AJAX call to populate the Messages div above
        // NOTE: the "/14" parameter is the number of days, meant to show messages sent in the last 2 weeks.
        $.get( "/users/messages/to/" + userLoggedIn + "/14", function( data ) {
            $( ".result" ).html( data );
            $.each(data, function(index, entry) {
                var videoId;
                var videoThumbnail;
                var videoTitle;
                var channelId;
                var channelTitle;
                var startTime='';

                //verify all the JSON values so as not to break the page
                if (entry.video_id) {
                    videoId = entry.video_id;
                }

                if (entry.channelId) {
                    channelId = entry.channelId;
                }

                var fullDetails = entry.details_full ? entry.details_full : '';

                if (fullDetails) {
                    if (fullDetails.start) {
                        console.log('This one has a start time of ' + fullDetails.start);
                        startTime = '&t=' + fullDetails.start;
                    }
                }
                
                if (fullDetails.snippet) {
                    if (fullDetails.snippet.resourceId) {
                        if (!videoId) {
                            videoId = fullDetails.snippet.resourceId.videoId ? fullDetails.snippet.resourceId.videoId : '';
                        }
                    }

                    if (fullDetails.snippet.thumbnails) {
                        videoThumbnail = fullDetails.snippet.thumbnails.medium.url ? fullDetails.snippet.thumbnails.medium.url : '';
                    }

                    if (fullDetails.snippet.title) {
                        videoTitle = fullDetails.snippet.title;
                    }

                    if (!channelId) {
                        if (fullDetails.snippet.channelId) {
                            channelId = fullDetails.snippet.channelId;
                        }
                    }

                    channelTitle = fullDetails.snippet.channelTitle ? fullDetails.snippet.channelTitle : '';
                }

                //console.log('VideoId: "%s"...', videoId);

                var videoContainer='';
                
                if (videoId) {
                    videoContainer = '<div class="message-video-container">' +
                    '<form id= "' + videoId + '" method="POST" action="/youtube/watch' + assembleQueryString(videoId, channelId) + startTime + '">' +
                    '<div class="video-container">' +
                    '  <input id="' + videoId + '-json" name="videoDetailsFull" class="video-url" type="hidden">' +
                    '  <div class="video-link" onClick=$("#' + videoId + '").submit()>' +
                    '    <div class="message-video-thumbnail"><img src="' + videoThumbnail + '"></div>\n' +
                    '  </div>\n' +
                    '  <div class="video-content">' + 
                    '    <div class="video-title">' + 
                    '      <div class="video-link" onClick=$("#' + videoId + '").submit()>' + videoTitle + '</div>\n' +
                    '    </div>\n' + 
                    //'    <div class="video-meta">' + channelTitle + '</div>\n' +
                    '  </div>' +
                    '</div>' +
                    '</form>'+
                    '</div>';
                }

                var msgSubj = entry.message_subject ? entry.message_subject : '';
                var msgBody = entry.message_body ? entry.message_body.messageBody : '';

                message = '<div class="row message">' +
                        '  <div class="col">' +
                        '    <div class="thumbnail message-thumbnail">' +
                        '      <div class="avatar-message"><img src="/images/avatars/' + entry.from + '-avatar-md.png"></div>' +
                        '      <div class="caption">' +
                        '        <div class="message message-subject">' + msgSubj + '</div>' +
                        '        <p class="message-body">' + msgBody + '</p>' +
                       // '        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>' +
                        '      </div>' +
                                videoContainer +
                        '    </div>' +
                        '  </div>' +
                        '</div>';

                $("#messages-container").append(message);

                if (videoId) {
                    $('#' + videoId + '-json').val(JSON.stringify(fullDetails)).html();
                }
            });
        });
    }
  </script>
</head>

<body>
    <% include topbar.ejs %>

    <input id="loggedinuser" type="hidden" value="<%= user.username %>"> <!-- UGH! -->

    <script>
        // do these things when the page is loaded
        $( document ).ready(function() {
            getChannelsForUser($('#loggedinuser').val()); // SO MUCH UGH!
            getMessagesForUser($('#loggedinuser').val());
        });
    </script>

    <div id="content-container">
        <!-- Column 1 -->
        <!-- <div id="channels-allowed-container" class="channels-list col-4"> --> <!-- Enable tiling of channel thumbnails -->
        <div id="channels-allowed-container" class="channels-list">
            <div class="list-title"><%= user.common_name %>'s Channels:</div>
            <div id="channels-allowed-list">

            </div>
        </div>

        <!-- Column 2 -->
        <div id="search-results" class="col">
        </div>

        <!-- Column 3 -->
        <div id="messages-container" class="col">
        </div>
    </div>
     
</body>

</html>