<!DOCTYPE html>
<html>

<head>
  <title>Login: <%= title %></title>

  <script src="/js/jquery-3.2.1.min.js"></script>

  <!-- bootstrap 3.3 (custom, full) -->
  <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap33/bootstrap.min.css">
  <script src="/js/bootstrap33/bootstrap.min.js"></script> -->

  <link rel="stylesheet" href="/css/bootstrap400/bootstrap.min.css">
  
  <script src="/js/bootstrap400/tether.min.js"></script>
  <script src="/js/bootstrap400/bootstrap.min.js"></script>

  <link href="/css/google-font-Roboto.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/nahtube.css">
  
  <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
    }

    #search-section {
        width: 95%;
        height: 30px;
        padding: 0px;
    }
    #search-action {
        width: 270px;
        float: left;
    }
    #search-results {
        margin-left: 275px;
        width: auto;
    }
  </style>
</head>

<body>
    <h1><%= title %> Login</h1>

    <div id="user-cards-container" class="row" align="center"></div>

    <!-- Populate the fields and divs above -->
    <script>
        // AJAX call to populate the user field above
        $.get( "/users/role/child", function( data ) {
            $( ".result" ).html( data );
    
            $.each(JSON.parse(data), function(index, entry) {
                //option = $('<option value="' + entry.username + '">' + entry.common_name + '</option>');

                var card = `<form method="POST" action="/login">
                                <input type="hidden" name="referer" value=<%= referer %>>
                                <input type="hidden" name="username" value=` + entry.username + `>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="card" style="width: 15rem;">
                                    <div class="card-block">
                                        <img class="card-img-top" src="/images/avatars/` + entry.username + `-avatar-lg.png" alt="Card image cap">
                                        <h2 class="card-title">` + entry.common_name + `</h2>
                                        <button id="login" class="btn btn-primary">Log In</button>
                                    </div>
                                    </div>
                                </div>
                            </form>`;

                //$("#user").append(option);
                $("#user-cards-container").append(card);
            });

        });
    </script>
  
</body>

</html>