<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title><%- commonName %>: Messages</title>

        <script src="/js/jquery-3.2.1.min.js"></script>
      
        <!-- bootstrap 4.0.0 -->      
        <link rel="stylesheet" href="/css/bootstrap400/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap400/album.css">
        <script src="/js/bootstrap400/tether.min.js"></script>
        <script src="/js/bootstrap400/holder.min.js"></script>
        <script src="/js/bootstrap400/bootstrap.min.js"></script>

        <style>
            .bg-dark {
                background-color: #343a40!important;
            }

            .navbar-dark .navbar-brand {
                color: #fff;
            }
        </style>
    
        <!-- <link href="/css/google-font-Roboto.css" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="/css/nahtube.css">
    </head>
    <body>

        <header>
                <div class="bg-dark collapse" id="navbarHeader" style="">
                    <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="text-white">Like on Facebook</a></li>
                            <li><a href="https://getbootstrap.com/docs/4.0/examples/album/#" class="text-white">Email me</a></li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="navbar navbar-dark bg-dark box-shadow">
                    <div class="container d-flex justify-content-left">
                        <div class="avatar">
                            <img src="/images/avatars/<%= username %>-avatar-sm.png">                                
                        </div>
                        <h3 class="navbar-brand d-flex align-items-center"><%- commonName %>: Messages</h3>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    </div>
                </div>
                </header>
            
                <main role="main">
            
                    <div class="album py-5 bg-light">
                        <div class="container">
                
                            <div class="row"> 

                                <!-- React component -->
                                <div id="wrapper"></div>
                                
                            </div>
                        </div>
                    </div>
            
                </main>
            
                <footer class="text-muted">
                <div class="container">
                    <p class="float-right">
                        Yeah, maybe
                    </p>
                    <p>Maybe I'll want a footer down here for something.</p>
                </div>
                </footer>
              
        <!-- Dependencies -->
        <script src="/js/react.development.js"></script>
        <script src="/js/react-dom.development.js"></script>

        <!-- Main -->
        <script src="/dist/messages.bundle.js"></script>
    </body>
</html>