<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title><%- commonName %>: Messages</title>

        <script src="/js/jquery-3.2.1.min.js"></script>
      
        <!-- bootstrap 4.0.0 -->      
        <link rel="stylesheet" href="/css/bootstrap400/bootstrap.min.css">        
        <script src="/js/bootstrap400/tether.min.js"></script>
        <script src="/js/bootstrap400/bootstrap.min.js"></script>
    
        <link href="/css/google-font-Roboto.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/nahtube.css">
    </head>
    <body>
        <h2><%- commonName %>: Messages</h2>
        <div id="wrapper"></div>

        <!-- Dependencies -->
        <script src="/js/react.development.js"></script>
        <script src="/js/react-dom.development.js"></script>

        <!-- Main -->
        <script src="/dist/messages.bundle.js"></script>
    </body>
</html>