<style>
    div.avatar {
        float: left;
    }

    #logo-icon-container {
        width: 100px;
        height: 24px;
    }

    #search-section {
        width: 95%;
        height: 30px;
        padding: 0px;
    }
    #search-action {
        width: 270px;
        float: left;
    }
    #search-results {
        margin-left: 275px;
        width: auto;
    }
</style>

<div id="topbar">
    <table>
        <tr>
            <td>
                <div class="avatar">
                    <% if (user.username) { %>
                        <a href="/"><img src="/images/avatars/<%= user.username %>-avatar-sm.png"></a>
                    <% } %>
                </div>
            </td>

            <td>
                <!-- svg -->
            </td>

            <td>
                <section id="search-section">
                    <div id="search-action">
                        <input id="search-text"></input>
                    </div>
                </section>
            </td>
        </tr>
    </table>
</div>