<style>
    div.avatar {
        float: left;
    }

    #logo-icon-container {
        width: 100px;
        height: 24px;
    }

    #search-section {
        width: 95%;
        height: 30px;
        padding: 0px;
    }
    #search-action {
        width: 270px;
        float: left;
    }
    #search-results {
        margin-left: 10px;
        display:block;
        float:left;
    }
</style>

<div id="topbar">
    <table>
        <tr>
            <td>
                <div class="avatar">
                    <% if (user.username) { %>
                        <a href="/"><img src="/images/avatars/<%= user.username %>-avatar-sm.png"></a>
                    <% } %>
                </div>
            </td>

            <td>
                <!-- svg -->
            </td>

            <td>
                <section id="search-section">
                    <div id="search-action">
                        <input id="search-text"></input>
                    </div>
                </section>
            </td>
        </tr>
    </table>
</div>

<!-- Enable the search above -->
<script type="text/javascript">
    function constructVideoResult(i, item) {
        console.log('Build out a proper div for #' + (i+1) + ': ' + item.snippet.title);
    };

    $('#search-text').on('keypress',function (e) {
        if (e.keyCode == 13) {
            console.log('Going to search with "%s".', this.value);
            $('#search-text').addClass('buttonSearch');
            $('#search-results').text('Searching...');

            $.ajax({
                type: "POST",
                url: "/youtube/search",
                data: {"searchstring": this.value},
                success: function (data) {
                    console.log(data);

                    $('#search-results').empty();

                    $.each(data.items, function (i, item) {
                        console.log(i + ': ' + item.snippet.title);

                        $('#search-results').append(
                            //'<img src="' + item.snippet.thumbnails.default.url + '"><br>' +
                            //'<img src="' + item.snippet.thumbnails.high.url + '"><br>' +
                            '<img src="' + item.snippet.thumbnails.medium.url + '"><br>' +
                            (i+1) + '. ' + item.snippet.title + '<br>\n'
                        );
                    });

                    // the jQuery definition determines these, and the params of the callback
                    // http://api.jquery.com/jquery.each/
                    //$.each(data.items, constructVideoResult);
                }
            });

        }
    });
</script>