<style>
    div.avatar {
        float: left;
    }

    #logo-icon-container {
        width: 100px;
        height: 24px;
    }
</style>

<link rel="stylesheet" type="text/css" href="/css/search.css">

<div id="topbar">
    <table>
        <tr>
            <td>
                <div class="avatar">
                    <% if (user.username) { %>
                        <a href="/"><img src="/images/avatars/<%= user.username %>-avatar-sm.png"></a>
                    <% } %>
                </div>
            </td>

            <td>
                <!-- svg -->
            </td>

            <td>
                <section id="search-section">
                    <div id="search-action">
                        <div id="search-text-container">
                            <input id="search-text" style="outline: none;"></input>
                        </div>
                        <div id="search-btn-container">
                            <button id="search-btn" class="search-button" type="submit" 
                                onclick="if (document.getElementById('search-text').value != '') postSearch(document.getElementById('search-text').value);"><span>Search</span></button>
                        </div>
                    </div>
                </section>
            </td>
        </tr>
    </table>
</div>

<!-- Enable the search above -->
<script type="text/javascript">
    function assembleQueryString(videoId, channelId) {
        var qstr = '?v=' + videoId;

        qstr += (channelId ? '&c=' + channelId : '' );

        return qstr;
    }

    function constructVideoResult(i, item) {
        var videoId = item.id.videoId;
        var channelId = item.snippet.channelId;

        var searchResultDiv = '<div class="video-container">' +
            '  <a href="/youtube/watch' + assembleQueryString(videoId, channelId) + '">' +
            '    <div class="video-thumbnail"><img src="' + item.snippet.thumbnails.medium.url + '"></div>\n' +
            '  </a>\n' +
            '  <div class="video-content">' + 
            '    <h3 class="video-title">' + 
            '      <a href="/youtube/watch' + assembleQueryString(videoId, channelId) + '">' + item.snippet.title + '</a>\n' +
            '    </h3>\n' + 
            '    <div class="video-meta">' + item.snippet.channelTitle + '</div>\n' +
            '  </div>' +
            '</div>'
        
            $('#search-results').append(searchResultDiv);
    };

    function postSearch(searchString) {
        $.ajax({
                type: "POST",
                url: "/youtube/search",
                data: {"searchstring": searchString},
                success: function (data) {
                    //console.log(data);

                    $('#search-results').empty();
                    
                    $.each(data.items, constructVideoResult);
                }
            });
    }

    $('#search-text').on('keypress', function (e) {
        if (!e) return false;

        if (e.keyCode == 13) {
            console.log('Going to search with "%s".', this.value);
            $('#search-text').addClass('buttonSearch');
            $('#search-results').text('Searching...');

            postSearch(this.value);

            // $.ajax({
            //     type: "POST",
            //     url: "/youtube/search",
            //     data: {"searchstring": this.value},
            //     success: function (data) {
            //         console.log(data);

            //         $('#search-results').empty();

                    // $.each(data.items, function (i, item) {
                    //     console.log(i + ': ' + item.snippet.title);

                    //     $('#search-results').append(
                    //         '<img src="' + item.snippet.thumbnails.medium.url + '"><br>' +
                    //         (i+1) + '. ' + item.snippet.title + '<br>\n'
                    //     );
                    // });

                    // the jQuery definition determines these, and the params of the callback
                    // http://api.jquery.com/jquery.each/
                    //$.each(data.items, constructVideoResult);
            //     }
            // });

        }
    });
</script>