<!DOCTYPE html>
<html>

<head>
  <title>Videos</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/nahtube.css">

  <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 200;
      padding: 0;
    }
  </style>
</head>

<body>
    <h1>Videos for <%= channelId %> </h1>
    
    <div id="channels-allowed-container">
        <h2>Channels Allowed:</h2>
        <div id="channels-allowed-list"></div>
    </div>

</body>

</html>