<!DOCTYPE html>
<html>

<head>
    <title>Videos</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/nahtube.css">

    <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 200;
        padding: 0;
    }

    div.video-thumbnail {
	    font-family: 'Roboto', sans-serif;
        margin: 10px;
        float: left;
    }

    div.video-container {
        /* border-style: solid;
        border-width: 1px; */
        overflow: hidden;
    }

    div.video-content {
	    font-family: 'Roboto', sans-serif;
        margin-left: 10px;
        float: left;
        word-wrap: break-word;
    }

    </style>
    <script>
        function assembleQueryString(videoId, channelId) {
            var qstr = '?v=' + videoId;

            qstr += (channelId ? '&c=' + channelId : '' );

            console.log('Assembled "%s"', qstr);

            return qstr;
        }
        function getVideosForChannelId(channelId) {

            $.ajax({
                type: "GET",
                url: "/youtube/videos/" + channelId + ".json",
                data: {"channelId": this.value},
                success: function (data) {
                    console.log(data);

                    $('#channelTitle').text('Videos for ' + data.channelTitle);

                    $('#videos-list').empty();

                    $.each(data.items, function (i, item) {
                        console.log(i + ': ' + item.snippet.title);

                        var videoId = item.snippet.resourceId.videoId;

                        $('#videos-list').append(
                            '<div class="video-container">' +
                            '  <a href="../watch' + assembleQueryString(videoId, channelId) + '">' +
                            '    <div class="video-thumbnail"><img src="' + item.snippet.thumbnails.medium.url + '"></div>\n' +
                            '  </a>\n' +
                            '  <div class="video-content">' + 
                            '    <h3 class="video-title">' + 
                            '      <a href="../watch' + assembleQueryString(videoId, channelId) + '">' + item.snippet.title + '</a>\n' +
                            '    </h3>\n' + 
                            '    <div class="video-meta">' + data.channelTitle + '</div>\n' +
                            '  </div>' +
                            '</div>'
                        );
                    });

                    // the jQuery definition determines these, and the params of the callback
                    // http://api.jquery.com/jquery.each/
                    //$.each(data.items, constructVideoResult);
                }
            });

        }
        </script>
</head>

<body>
    <% include topbar.ejs %>
    <!-- <h1><span id="channelTitle"></span></h1> -->
    
    <div id="videos-list">
    </div>

    <script>
        getVideosForChannelId( '<%= channelId %>' ); // this looks pretty bad to me...
    </script>

</body>

</html>