<!DOCTYPE html>
<html>

<head>
    <title><%= title %>: Videos</title>

    <script src="/js/jquery-3.2.1.min.js"></script>

    <!-- bootstrap 3.3 (custom, full) -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap33/bootstrap.min.css">
    <script src="/js/bootstrap33/bootstrap.min.js"></script>
    
    <link href="/css/google-font-Roboto.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/nahtube.css">

    <style>
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 200;
        padding: 0;
    }

    </style>
    <script>
        function assembleQueryString(videoId, channelId) {
            var qstr = '?v=' + videoId;

            qstr += (channelId ? '&c=' + channelId : '' );

            return qstr;
        }

        function getVideosForChannelId(channelId) {
            $.ajax({
                type: "GET",
                url: "/youtube/videos/" + channelId + ".json",
                data: {"channelId": this.value},
                success: function (data) {
                    $('#channelTitle').text('Videos for ' + data.channelTitle);

                    $('#videos-list').empty();

                    $.each(data.items, function (i, item) {

                        var videoId = item.snippet.resourceId.videoId;

                        // open watch links via POST
                        $('#videos-list').append(
                            '<form id= "' + videoId + '" method="POST" action="/youtube/watch' + assembleQueryString(videoId, channelId) + '">' +
                            '<div class="video-container">' +
                            '  <input id="' + videoId + '-json" name="videoDetailsFull" class="video-url" type="hidden">' +
                            '  <div class="video-link" onClick=$("#' + videoId + '").submit()>' +
                            '    <div class="video-thumbnail"><img src="' + item.snippet.thumbnails.medium.url + '"></div>\n' +
                            '  </div>\n' +
                            '  <div class="video-content">' + 
                            '    <div class="video-title">' + 
                            '      <div class="video-link" onClick=$("#' + videoId + '").submit()>' + item.snippet.title + '</div>\n' +
                            '    </div>\n' + 
                            '    <div class="video-meta">' + data.channelTitle + '</div>\n' +
                            '  </div>' +
                            '</div>' +
                            '</form>'
                        );

                        $('#' + videoId + '-json').val(JSON.stringify(item)).html();

                    });

                    // add a "More Results" button if appropriate
                    if (data.nextPageToken) {
                        $('#more-btn').append(
                            '<button id="activity" onclick="getNextPage(\'' + channelId + '\', \'' + data.nextPageToken + '\')" class="btn btn-success">More Videos</button>'
                        );
                    }

                }
            });

        }

        function getNextPage(channelId, pageToken) {
            var qsPageToken = '?pageToken=' + pageToken;
            console.log('fetching next page with "%s"', pageToken);
            $.ajax({
                type: "GET",
                url: "/youtube/videos/" + channelId + ".json" + qsPageToken,
                data: {"channelId": this.value},
                success: function (data) {

                    $.each(data.items, function (i, item) {

                        var videoId = item.snippet.resourceId.videoId;

                        $('#videos-list').append(
                            '<form id= "' + videoId + '" method="POST" action="/youtube/watch' + assembleQueryString(videoId, channelId) + '">' +
                            '<div class="video-container">' +
                            '  <input id="' + videoId + '-json" name="videoDetailsFull" class="video-url" type="hidden">' +
                            '  <div class="video-link" onClick=$("#' + videoId + '").submit()>' +
                            '    <div class="video-thumbnail"><img src="' + item.snippet.thumbnails.medium.url + '"></div>\n' +
                            '  </div>\n' +
                            '  <div class="video-content">' + 
                            '    <div class="video-title">' + 
                            '      <div class="video-link" onClick=$("#' + videoId + '").submit()>' + item.snippet.title + '</div>\n' +
                            '    </div>\n' + 
                            '    <div class="video-meta">' + data.channelTitle + '</div>\n' +
                            '  </div>' +
                            '</div>' +
                            '</form>'
                        );

                        $('#' + videoId + '-json').val(JSON.stringify(item)).html();

                    });
                    
                    // update the More Results button
                    $('#more-btn').empty();

                    if (data.nextPageToken) {
                        $('#more-btn').append(
                            '<button id="activity" onclick="getNextPage(\'' + channelId + '\', \'' + data.nextPageToken + '\')" class="btn btn-success">More Videos</button>'
                        );
                    }

                }
            });

        }
        </script>
</head>

<body>
    <% include topbar.ejs %>
    <!-- <h1><span id="channelTitle"></span></h1> -->

    <div id="videos-list">
    </div>

    <div id="more-btn"></div>

    <script>
        getVideosForChannelId( '<%= channelId %>' ); // this looks pretty bad to me...
    </script>

</body>

</html>