body {
	color: #333;
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 22px;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p, a {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}


div.video-thumbnail {
	font-family: 'Roboto', sans-serif;
	margin: 10px;
	float: left;
}

div.video-container {
	/* border-style: solid;
	border-width: 1px; */
	overflow: hidden;
}

div.video-content {
	font-family: 'Roboto', sans-serif;
	margin-left: 10px;
	margin-top: 15px;
	float: left;
	word-wrap: break-word;
}

.video-link {
	font-size: 14px;
	color: #007bff;
	cursor: pointer;
}

.video-link:hover {
	text-decoration: underline;
}

div.video-meta {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #9f9f9f;
}

h3.video-title {
	line-height: 16px;
}

div.video-meta {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #9f9f9f;
}

div.related-video-container {
	overflow: hidden;
}

#player {
	z-index: 2;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 3px;
}

#video-title {
	margin-left: 50px;
	font-size: 20px;
}

#channel-title {
	margin-left: 50px;
}

.channel-title {
	font-size: 14px;
}

#related-videos-list {
	z-index: 1;
	float: right;
}